.textoDeAbertura {
	text-align: center;
	color: blue;
	width: 50%;
	height: 60px;
	margin:auto;
}

.footer {
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: #E8E8E3;;
}

.logout-menu {
    margin: 0px;
    float: left;
    position: absolute;
}

.text-align {
	text-align: center;
}

.container860 {
	width: 860px;
}

.container430 {
	width: 430px;
}

.marginAuto {
	margin: auto;
}

.containerPaddingTop200 {
	padding-top: 200px;
}

.backgroundColorCinza {
	background-color: #f8f8f8;
}

.fontSizeLarge {
	font-size: xx-large;
}

.negrito {
	font-weight: bold;
}

.padding182 {
	padding-left: 182px;
}

.navBarPoseidon {
	background-color: #31b0d5;
}

.colorBranco {
	color: #fff !important;
}

.colorBranco:hover{
    background-color: #e7e7e7 !important;
    color: black !important;
}

.focusedMenu {
	color: black;
}

.paddingLeft5 {
	padding-left: 5px;
}

.paddingRight5 {
	padding-right: 5px;
}

.marginLeft5 {
	margin-left: 5px ;
}

.logout {
	margin: 0 ;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}

.margin10 {
	margin: 10px;
}

.paddingTop40 {
	padding-top: 40px;
}

.tooltip-inner {
    background-color: #31b0d5;
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #31b0d5;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #31b0d5;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #31b0d5;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #00acd6;
}

.container1200 {
	width: 1200px;
}

.marginleftRigth10 {
	margin-left: 10px;
    margin-right: 10px;
}

.container215 {
	width:215px;
	margin: auto;
}

.tooltip-position {

    position: inherit;

}
