.textoDeAbertura {
	text-align: center;
	color: blue;
	width: 100%;
	height: 60px;
}

.footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: #E8E8E3;;
}

.text-align {
	text-align: center;
}

.container860 {
	width: 860px;
}

.container430 {
	width: 430px;
}

.marginAuto {
	margin: auto;
}

.containerPaddingTop200 {
	padding-top: 200px;
}

.backgroundColorCinza {
	background-color: #f8f8f8;
}

.fontSizeLarge {
	font-size: xx-large;
}

.negrito {
	font-weight: bold;
}

.padding182 {
	padding-left: 182px;
}

.navBarPoseidon {
	background-color: #31b0d5 !important;
	color: #fff !important;
}

.colorBranco {
	color: #fff !important;
}

.focusedMenu {
	color: black !important;
}

.paddingLeft5 {
	padding-left: 5px !important;
}

.paddingRight5 {
	padding-right: 5px;
}

.marginLeft5 {
	margin-left: 5px !important;
}

.logout {
	margin: 0 !Important;
	padding-top: 15px;
	padding-bottom: 15px;
}

.margin10 {
	margin: 10px;
}

.paddingTop40 {
	padding-top: 40px;
}