<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>500 Internal Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body class="backgroundColorCinza">
	<div class="container860 marginAuto">
		<div class="containerPaddingTop200">
			<h1 class="text-align negrito">500 Internal Error</h1>
			<h3 class="textoDeAbertura fontSizeLarge">Poseidon</h3>
			<div class="container430 marginAuto padding182">
				<a th:href="@{/home}" class="btn btn-warning">Home</a>
			</div>
		</div>

	</div>
</body>
</html>