<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Paciente</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Poseidon</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="@{/home}">Home</a></li>
                <li class="active"><a th:href="@{/cadastroPaciente}">Cadastro Paciente</a></li>
                <li><a th:href="@{/pesquisarPaciente}">Pesquisa</a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="form-container" style="width:860px;margin:auto">
        <form id="form-cadastro" class="form-horizontal" action="#" th:action="@{/salvarPaciente}" th:object="${paciente}" method="post">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Nome:</label>
                <div class="col-md-4">
                    <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md" th:field="*{nome}" required="true"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="cpf">CPF:</label>
                <div class="col-md-4">
                    <input id="cpf" name="cpf" type="text" placeholder="" class="form-control input-md" th:field="*{cpf}" required="true"/>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="telefone">Telefone</label>
                <div class="col-md-4">
                    <input id="telefone" name="telefone" type="text" placeholder="" class="form-control input-md" th:field="*{telefone}"/>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="" class="form-control input-md" th:field="*{email}"/>

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p><input type="submit"  value="cadastrar"  /></p>
                </div>
                <div class="col-md-4"></div>
            </div>

        </form>
    </div>


<footer class ="footer">
    <div class="contain">
        <p class = "text-muted text-align"> Poseidon </p>
    </div>
</footer>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

</body>
</html>