<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Consulta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css}"/>
        <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
    </head>
    <!--CRUD Consulta-->
    <body class="backgroundColorCinza">
        <div th:include="template/header :: header"></div>
        <div id="container" style="width: 860px; margin: auto">
            <div id="container.form" style="padding-top: 20px" th:if="${isCadastroConsulta}">
                <form th:action="@{/cadastrarConsulta}" method="post" id="formCadastro">
                    <div id="left.container" style="float: left; width: 48%">
                        <label for="idmedicocadastro" style="display:none"></label>
                        <div><label>ID do Médico:</label></div> 
                        <div class="input-group" id="id_medicodiv">
                            <input type="text" id="id.medico" class="form-control" placeholder="ID do Médico"
                                   aria-describedby="basic-addon1" name="id_medico"
                                   id="idmedicocadastro" maxlength="30"/><span
                                   class="input-group-addon" id="addon-id_medico">9...</span>
                        </div>
                        <label for="idpacientecadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">ID do Paciente:</label></div> 
                        <div class="input-group" id="id_pacientediv">
                            <input type="text" class="form-control" placeholder="ID do Paciente"
                                   aria-describedby="basic-addon1" name="id_paciente"
                                   id="idpacientecadastro" maxlength="30"/><span
                                   class="input-group-addon" id="addon-id_paciente">9...</span>
                        </div>
                        <label for="valorcadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Valor da Consulta:</label></div> 
                        <div class="input-group" id="valordiv">
                            <input type="text" class="form-control valor" placeholder="Valor da Consulta"
                                   aria-describedby="basic-addon1" name="valor"
                                   id="valorcadastro" maxlength="10"/><span
                                   class="input-group-addon" id="addon-preco">R$ 9999.99</span>
                        </div>
                    </div>
                    <div id="rigth.container" style="float: right; width: 48%">
                        <label for="dataconsultacadastro" style="display:none"></label>
                        <div><label>Data da Consulta:</label></div>
                        <div class="input-group" id="data_consultadiv">
                            <input type="text" class="form-control data" placeholder="Data da Consulta"
                                   aria-describedby="basic-addon1" name="data_consulta"
                                   id="dataconsultacadastro" maxlength="10"/><span
                                   class="input-group-addon" id="addon-data_consulta">dd/mm/yyyy</span>
                        </div>
                        <label for="horarioconsultacadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Horário da Consulta:</label></div> 
                        <div class="input-group" id="horario_consultadiv">
                            <input type="text" class="form-control horario" placeholder="Horário da Consulta"
                                   aria-describedby="basic-addon1" name="horario_consulta"
                                   id="horarioconsultacadastro" maxlength="8"/><span
                                   class="input-group-addon" id="addon-horario_consulta">hh:mm:ss</span>
                        </div>
                        <div style="padding-top: 25px; padding-left: 226px">
                            <input type="submit" value="Cadastrar Consulta"
                                   class="btn btn-lg btn-success btn-submit"
                                   id="submitcadastrarconsulta" />
                        </div>
                        <!--                        <div title="All Persons" th:if="${cadastroPageModel.error!=null}"
                                                     style="padding-top: 10px; text-align: right">
                                                    <label id="error.cadastro.label"
                                                           th:text="${cadastroPageModel.error}"></label>
                                                </div>
                                                <div title="All Persons"
                                                     th:if="${cadastroPageModel.success!=null}"
                                                     style="padding-top: 10px; text-align: right">
                                                    <label id="success.cadastro.label"
                                                           th:text="${cadastroPageModel.success}"></label>
                                                </div>-->

                    </div>
                </form>
            </div>
        </div>

        <div th:include="template/footer :: footer"></div>
        <script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.11.3/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
        <script type="text/javascript"  th:src="@{/webjars/jquery-mask-plugin/1.13.4/dist/jquery.mask.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.14.0/jquery.validate.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js}"></script>
        <script type="text/javascript" src="/js/menu.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.data').mask('00/00/0000');
                $('.horario').mask('00:00:00');
                $('.valor').mask('0000.00');

                $('#formCadastro').validate({
                    rules: {
                        id_medico: {required: true, minlength: 1, maxlength: 30},
                        id_paciente: {required: true, minlength: 1, maxlength: 30},
                        data_consulta: {required: true, minlength: 10, maxlength: 10},
                        horario_consulta: {required: true, minlength: 8, maxlength: 8},
                        valor: {required: true, minlength: 7, maxlength: 7}
                    },
                    // Specify the validation error messages
                    messages: {
                        id_medico: "Por favor digite um ID válido.",
                        id_paciente: "Por favor digite um ID válido.",
                        data_consulta: "Por favor digite uma data válida.",
                        horario_consulta: "Por favor digite um horário válido.",
                        valor: "Por favor digite um valor válido."
                    },
                    errorPlacement: function (error, element) {
                        console.log(element.attr('name'));
                        error.insertAfter('#' + element.attr('name') + 'div'); //So i putted it after the .form-group so it will not include to your append/prepend group.
                    }

                });

                $('#formCadastro').submit(function () {
                    var validator = $('#formCadastro').validate();
                    validator.form();
                });

                $('#dataconsultacadastro').datepicker();
            });
        </script>
    </body>
</html>