<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Deletar Paciente</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body class="backgroundColorCinza">
	<div th:include="template/header :: header">...</div>
	<div class="form-container" style="width: 860px; margin: auto">
		<form id="form-cadastro" class="form-horizontal" action="#" th:action="@{/deletarPaciente}" th:object="${paciente}" method="post">
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="nome">Id:</label>
				<div class="col-md-4">
					<input id="nome" name="id" type="text" placeholder="Digite o id..."
						class="form-control input-md" required="true" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="nome">Nome:</label>
				<div class="col-md-4">
					<input id="nome" name="nome" type="text"
						placeholder="Digite o nome..." class="form-control input-md"
						required="true" />
				</div>
			</div>
			<!-- Button -->
			<div class="form-group">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<p>
						<input type="submit" value="deletar" class="btn btn-success" />
					</p>
				</div>
				<div class="col-md-4"></div>
				<div  th:if="${deletePageModel.error!=null}"
							style="padding-top: 10px; text-align: right">
							<label id="error.cadastro.label"
								th:text="${deletePageModel.error}"></label>
						</div>
						<div 
							th:if="${deletePageModel.success!=null}"
							style="padding-top: 10px; text-align: right">
							<label id="success.cadastro.label"
								th:text="${deletePageModel.success}"></label>
						</div>
			</div>

		</form>
	</div>


	<div th:include="template/footer :: footer"></div>
	<script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.3/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.js}"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
</body>
</html>