<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" type = "text/css" href ="stylesheet.css" />
	</head>
	<body>
		
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Poseidon</a>
		    </div>
		    <div>
		      <ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a th:href="@{/cadastroPaciente}">Cadastro Paciente</a></li>
			<li><a href="#">Pesquisa</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>

		<div class = "textoDeAbertura">
			<p> Welcome to Poseidon </p>
        </div>
		<footer class ="footer">
			<div class="contain">
				<p class = "text-muted"> Poseidon </p>
			</div>
		</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>