<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Médico</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body class="backgroundColorCinza">

<div th:include="template/header :: header">...</div>

<!--CRUD Medico-->
<div class="container430 marginAuto paddingTop40"
     id="criarMedicoContainer"  th:if="${isCadastroMedico}">
    <form id="form-createMedico" th:action="@{/cadastrarMedico}" method="post">
        <div class="input-group margin10">
            <span class="input-group-addon" id="basic-addon1">Nome:</span> <input tabindex="1"
                id="user.create" type="text" class="form-control"
                placeholder="Nome do Médico" aria-describedby="basic-addon1"
                name="nome" required="true" data-toggle="tooltip"
                data-placement="right" title="Medico tem q ser único." />
        </div>
        <div class="margin10" style="padding-top: 10px">
            <input tabindex="2" type="submit" value="Cadastrar Médico"
                   class="btn btn-lg btn-success" id="cadastrarMedico.submit" />
        </div>
    </form>
</div>

<!-- <div title="Medicos" class="container430 marginAuto paddingTop40"
     id="pesquisarMedicoContainer" th:if="${isPesquisaMedico}">
    <form id="form-createMedico" th:action="@{/pesquisarMedico}" method="post">
    	<h1 class="text-align">Médicos</h1>
    	<table class="table">
        	<thead>
        	<tr>
            	<th>Nome</th>
        	</tr>
        	</thead>
        	<tbody>
        	<tr th:each="row: ${medicos}">
            	<td th:text="${row.nome}">Nome</td>
        </tr>
        </tbody>
    </table>
    </form>
</div> -->

<div title="ExMedicos" class="container430 marginAuto paddingTop40"
     id="exibirTodosMedicoContainer" th:if="${isExibirMedico}">
	<form id="form-exibirMedico" th:action="@{/exibirMedico}" method="post">
    	<h1 class="text-align">Médicos</h1>
    	<table class="table">
        <thead>
        	<tr>
           	 <th>ID</th>
             <th>Nome</th>
        	</tr>
        </thead>
        <tbody>
        	<tr th:each="row: ${medicos}">
            	<td th:text="${row.id}">ID</td>
           		<td th:text="${row.nome}">Nome</td>
        	</tr>
        </tbody>
    	</table>
    </form>
</div>

		<div class="container1200 marginAuto" th:if="${isPesquisaMedico}">
			<div class="container-header">
				<form id="form-cadastro" class="form-horizontal" action="#"	th:action="@{/pesquisarMedico}" method="post">
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="nome">Nome:</label>
						<div class="col-md-2 paddingRight5">
							<input tabindex="1" id="nome" name="nome" type="text" placeholder=""
								class="form-control input-md"  required="true" /> <!-- th:field="*{nome}"  -->
						</div>
						<div class="col-md-4 paddingLeft5">
							<p>
								<input tabindex="2" type="submit" value="Pesquisar" class="btn btn-success" />
							</p>
						</div>
					</div>

				</form>
			</div>
			<div title="Medicos" class="container430 marginAuto paddingTop40">
				<h1 class="text-align">Médico</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
						</tr>
					</thead>
					<tbody id="tbodyDynamic">
					<tr id="firstRow"  style="display:none"/>
					</tbody>
				</table>
				<div id="page-selection" class="container430 marginAuto"></div>
			</div>
		</div>

<div class="container430 marginAuto paddingTop40"
     id="deletarMedicoContainer" th:if="${isDeleteMedico}">
    <form id="form-deleteMedico" th:action="@{/deletarMedico}" method="post">
        <div class="input-group margin10">
            <span class="input-group-addon" id="basic-addon1">ID:</span> <input
                tabindex="1" id="id.medico" type="text" class="form-control"
                placeholder="ID do Médico" aria-describedby="basic-addon1"
                name="id" required="true" data-toggle="tooltip"
                data-placement="right" title="Digite o ID do médico." />
        </div>
        <div class="margin10" style="padding-top: 10px">
            <input tabindex="2" type="submit" value="Deletar Medico"
                   class="btn btn-lg btn-success" id="deleteMedico.submit" />
        </div>
    </form>
</div>

<div class="container430 marginAuto paddingTop40"
     id="editarMedicoContainer" th:if="${isEditarMedico}">
    <form id="form-editarMedico" th:action="@{/editarMedico}" method="post">
        <div class="input-group margin10">
            <span class="input-group-addon" id="basic-addon1">ID:</span> <input
                tabindex="1" id="id.medico" type="text" class="form-control"
                placeholder="Nome do Médico" aria-describedby="basic-addon1"
                name="id" required="true" data-toggle="tooltip"
                data-placement="right" title="Digite o Id do médico." />
        </div>
        <div class="input-group margin10">
            <span class="input-group-addon" id="basic-addon1">Novo nome:</span> <input
                tabindex="2" id="nome.medico" type="text" class="form-control"
                placeholder="Nome do Médico" aria-describedby="basic-addon1"
                name="nome" required="true" data-toggle="tooltip"
                data-placement="left" title="Digite o novo nome do médico." />
        </div>
        <div class="margin10" style="padding-top: 10px">
            <input tabindex="3" type="submit" value="Editar Medico"
                   class="btn btn-lg btn-success" id="editarMedico.submit" />
        </div>
    </form>
</div>

<script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.11.3/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
<script type="text/javascript" src="/js/menu.js"></script>
</body>
</html>