<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Paciente</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css}"/>
        <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
    </head>
    <body class="backgroundColorCinza">
        <div th:include="template/header :: header"></div>
        <div id="container" style="width: 860px; margin: auto" th:if="${isCadastroPaciente}">
            <!-- Nome, Sobrenome, CPF, E-mail,Data de Nascimente, Data da última,Consulta, Telefone, Celular, Endereço, CEP, Forma de Pagamento. -->
            <div id="container.form" style="padding-top: 20px">
                <form th:action="@{/cadastrarPaciente}" method="post" th:object="${paciente}">
                    <div id="left.container" style="float: left; width: 48%">
                        <div><label>Nome:</label></div> <label for="nomecadastro" style="display:none"></label>
                        <div class="input-group" id="nomediv">
                            <input tabindex="1" type="text" class="form-control" placeholder="Nome"
                                   aria-describedby="basic-addon1" name="nome" id="nomecadastro" maxlength="30" th:field="${paciente.nome}"/><span
                                   class="input-group-addon" id="addon-email1">João</span>
                        </div>
                        <label for="sobrenomecadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Sobrenome:</label></div> 
                        <div class="input-group" id="sobrenomediv">
                            <input tabindex="2" type="text" class="form-control" placeholder="Sobrenome"
                                   aria-describedby="basic-addon1" name="sobrenome"
                                   id="sobrenomecadastro" maxlength="30"  th:field="${paciente.sobrenome}" /><span class="input-group-addon"
                                   id="addon-email">Silva</span>

                        </div>
                        <label for="cpfcadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">CPF:</label></div>
                        <div class="input-group" id="cpfdiv">
                            <input tabindex="3" type="text" class="form-control cpf"
                                   placeholder="CPF" aria-describedby="basic-addon1"
                                   name="cpf" id="cpfcadastro" maxlength="14" th:field="${paciente.cpf}" /><span
                                   class="input-group-addon" id="addon-cpf">999.999.999-99</span>
                        </div>
                        <label for="emailcadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">E-mail:</label></div>
                        <div class="input-group" id="emaildiv">
                            <input tabindex="4" type="text" class="form-control" placeholder="E-mail"
                                   aria-describedby="basic-addon1" name="email"
                                   id="emailcadastro" maxlength="30"  th:field="${paciente.email}" /> <span class="input-group-addon"
                                   id="addon-email">@example.com</span>
                        </div>
                        <label for="telefonecadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Telefone:</label></div>
                        <div class="input-group" id="telefonediv">
                            <input tabindex="5" type="text" class="form-control phone"
                                   placeholder="Telefone" aria-describedby="basic-addon1"
                                   name="telefone" id="telefonecadastro"  maxlength="15"  th:field="${paciente.telefone}" /> <span
                                   class="input-group-addon" id="addon-telefone">(000) 9999-9999</span>
                        </div>
                        <label for="celularcadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Celular:</label></div>
                        <div class="input-group" id="celulardiv">
                            <input tabindex="6" type="text" class="form-control phone"
                                   placeholder="Celular" aria-describedby="basic-addon1"
                                   name="celular" id="celularcadastro" maxlength="15"  th:field="${paciente.celular}" /><span
                                   class="input-group-addon" id="addon-telefone">(000) 9999-9999</span>
                        </div>
                    </div>
                    <div id="rigth.container" style="float: right; width: 48%">
                        <label for="enderecocadastro" style="display:none"></label>
                        <div><label>Endereço:</label></div>
                        <div class="input-group" id="enderecodiv" >
                            <input tabindex="7" type="text" class="form-control" placeholder="Endereço"
                                   aria-describedby="basic-addon1" name="endereco"
                                   id="enderecocadastro" maxlength="30"  th:field="${paciente.endereco}" /> <span class="input-group-addon"
                                   id="addon-telefone">Rua, Avenida</span>
                        </div>
                        <label for="cepcadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">CEP:</label></div>
                        <div class="input-group" id="cepdiv">
                            <input tabindex="8" type="text" class="form-control cep" placeholder="CEP"
                                   aria-describedby="basic-addon1" name="cep" id="cepcadastro" maxlength="9"  th:field="${paciente.cep}" /><span
                                   class="input-group-addon" id="addon-cep">99999-999</span>
                        </div>
                        <label for="datanscimentocadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Data de Nascimento:</label></div>
                        <div class="input-group" id="data_de_nascimentodiv">
                            <input tabindex="9" type="text" class="form-control  data"
                                   placeholder="Data de Nascimento" aria-describedby="basic-addon1"
                                   name="data_de_nascimento" id="datanscimentocadastro" maxlength="10"  th:field="${paciente.data_de_nascimento}" /><span
                                   class="input-group-addon" id="addon-cep">dd/mm/yyyy</span>
                        </div>
                        <label for="dataultimaconsultacadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Data da última consulta:</label></div>
                        <div class="input-group" id="data_da_ultima_consultadiv">
                            <input tabindex="10" type="text" class="form-control data"
                                   placeholder="Data da última consulta"
                                   aria-describedby="basic-addon1" name="data_da_ultima_consulta"
                                   id="dataultimaconsultacadastro" maxlength="10" th:field="${paciente.data_da_ultima_consulta}"/><span
                                   class="input-group-addon" id="addon-cep">dd/mm/yyyy</span>
                        </div>
                        <label for="formadepagamentocadastro" style="display:none"></label>
                        <div><label style="padding-top: 10px">Forma de Pagamento:</label></div>
                        <div class="input-group" id="forma_de_pagamentodiv">
                            <input tabindex="11" type="text" class="form-control"
                                   placeholder="Forma de Pagamento" aria-describedby="basic-addon1"
                                   name="forma_de_pagamento" id="formadepagamentocadastro" maxlength="30" th:field="${paciente.forma_de_pagamento}"/><span
                                   class="input-group-addon" id="addon-cep">R$,Cartão...</span>
                        </div>
                        <div style="padding-top: 25px; padding-left: 226px">
                            <input tabindex="12" type="submit" value="Cadastrar Paciente"
                                   class="btn btn-lg btn-success btn-submit"
                                   id="submitcadastrarpaciente" />
                        </div>
<!--                         <div title="All Persons" th:if="${cadastroPageModel.error!=null}"
                             style="padding-top: 10px; text-align: right">
                            <label id="error.cadastro.label"
                                   th:text="${cadastroPageModel.error}"></label>
                        </div>
                        <div title="All Persons"
                             th:if="${cadastroPageModel.success!=null}"
                             style="padding-top: 10px; text-align: right">
                            <label id="success.cadastro.label"
                                   th:text="${cadastroPageModel.success}"></label>
                        </div> -->

                    </div>
                </form>
            </div>
        </div>
        
		<div class="form-container" style="width: 860px; margin: auto" th:if="${isDeletePaciente}">
			<form id="form-cadastro" class="form-horizontal" action="#" th:action="@{/deletarPaciente}" method="post">
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="nome">ID:</label>
					<div class="col-md-4">
						<input tabindex="1" id="id.paciente" name="id" type="text" placeholder="ID do Paciente"
							class="form-control input-md" required="true" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label" for="nome">Nome:</label>
					<div class="col-md-4">
						<input tabindex="2" id="id.nome" name="nome" type="text"
							placeholder="Nome do Paciente" class="form-control input-md"
							required="true" />
					</div>
				</div>
				<!-- Button -->
				<div class="form-group">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<p><input tabindex="3" id="submitdeletar" type="submit" value="Deletar" class="btn btn-success" /></p>
					</div>
<!-- 					<div class="col-md-4"></div>
					<div th:if="${deletePageModel.error!=null}"
								style="padding-top: 10px; text-align: right">
						<label id="error.cadastro.label"
									th:text="${deletePageModel.error}"></label>
					</div>
					<div th:if="${deletePageModel.success!=null}"
								style="padding-top: 10px; text-align: right">
						<label id="success.cadastro.label"
									th:text="${deletePageModel.success}"></label>
					</div> -->
				</div>
			</form>
		</div>
		
		<div class="container1200 marginAuto" th:if="${isPesquisaPaciente}">
			<div class="container-header">
				<form id="form-cadastro" class="form-horizontal" action="#"	th:action="@{/procurarPaciente}" method="post">
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="nome">Nome:</label>
						<div class="col-md-2 paddingRight5">
							<input tabindex="1" id="nome" name="nome" type="text" placeholder=""
								class="form-control input-md"  required="true" /> <!-- th:field="*{nome}"  -->
						</div>
						<div class="col-md-4 paddingLeft5">
							<p>
								<input tabindex="2" id="idpesquisar" type="submit" value="Pesquisar" class="btn btn-success" />
								<input tabindex="3" type="button" value="Editar"
									class="btn btn-warning marginLeft5" id="editarPaciente" />
							</p>
						</div>
					</div>

				</form>
			</div>

			<div title="Pacientes" class="marginAuto">
				<h1 class="text-align">Pacientes</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Cpf</th>
							<th>Email</th>
							<th>Telefone</th>
							<th>Celular</th>
							<th>Endereço</th>
							<th>CEP</th>
							<th>Data Nasc</th>
							<th>Data Ultima Consulta</th>
						</tr>
					</thead>
					<tbody id="tbodyDynamic">
					<tr id="firstRow"  style="display:none"/>
					</tbody>
				</table>
				<div id="page-selection" class="container430 marginAuto"></div>
			</div>
		</div>
		
		<div id="dialog-newUser" style="display: none; width: 200px"
			title="Editando Paciente">
			<form id="form-createUser" th:action="@{/editarPaciente}"
				method="post">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">ID:</span><input
						id="user.create" type="text" class="form-control" placeholder="id"
						aria-describedby="basic-addon1" name="id" required="true" />
				</div>
				<div style="padding-top: 10px">
					<input tabindex="1" type="submit" value="Editar Paciente"
						class="btn btn-lg btn-success" id="editarPaciente.submit" />
				</div>

			</form>
		</div>
		
		<form>
			<input type="hidden" id="pacientesJSON" th:value="${pacientesJSON}" />
		</form>

        <div th:include="template/footer :: footer"></div>
        <script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.11.3/jquery-ui.min.js}"></script>
        <script type="text/javascript"  th:src="@{/webjars/jquery-mask-plugin/1.13.4/dist/jquery.mask.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/jquery-validation/1.14.0/jquery.validate.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.js}"></script>
        <script type="text/javascript" src="/js/menu.js"></script>
        <script type="text/javascript" src="/js/pesquisarPaciente.js"></script>
        <script type="text/javascript" src="/jquery/jquery.bootpag.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.phone').mask('(000) 0000-0000');
                $('.cep').mask('00000-000');
                $('.cpf').mask('000.000.000-00');
                $('.data').mask('00/00/0000');

                $('#formCadastro').validate({
                    rules: {
                        nome: {required: true, minlength: 2, maxlength: 30},
                        sobrenome: {required: true, minlength: 2, maxlength: 30},
                        cpf: {required: true, minlength: 14, maxlength: 14},
                        email: {required: true, email: true, minlength: 4, maxlength: 30},
                        telefone: {required: true, minlength: 15, maxlength: 15},
                        celular: {required: true, minlength: 15, maxlength: 15},
                        endereco: {required: true, minlength: 5, maxlength: 30},
                        cep: {required: true, minlength: 9, maxlength: 9},
                        data_de_nascimento: {required: true, minlength: 10, maxlength: 10},
                        data_da_ultima_consulta: {required: true, minlength: 10, maxlength: 10},
                        forma_de_pagamento: {required: true, minlength: 2, maxlength: 30}
                    },
                    // Specify the validation error messages
                    messages: {
                        nome: "Por favor digite um nome válido.",
                        sobrenome: "Por favor digite um sobrenome válido.",
                        cpf: "Por favor digite um cpf válido.",
                        email: "Por favor digite um e-mail válido.",
                        telefone: "Por favor digite um telefone válido.",
                        celular: "Por favor digite um celular válido.",
                        endereco: "Por favor digite um endereço válido.",
                        cep: "Por favor digite um cep válido.",
                        data_de_nascimento: "Por favor digite uma data válido.",
                        data_da_ultima_consulta: "Por favor digite uma data válido.",
                        forma_de_pagamento: "Por favor digite uma forma de pagamento válida."
                    },
                    errorPlacement: function (error, element) {
                        console.log(element.attr('name'));
                        error.insertAfter('#' + element.attr('name') + 'div'); //So i putted it after the .form-group so it will not include to your append/prepend group.
                    }

                });

                $('#formCadastro').submit(function () {
                    var validator = $('#formCadastro').validate();
                    validator.form();
                });

                $('#dataultimaconsultacadastro').datepicker();
                $('#datanscimentocadastro').datepicker();


            });
        </script>


    </body>
</html>