<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pesquisar Paciente</title>
<link rel="stylesheet" href="/jquery/jquery-ui.css" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body class="backgroundColorCinza">

	<div class="pageConainter">

		<div th:include="template/header :: header">...</div>

		<div class="container1200 marginAuto">

			<div class="container-header">
				<form id="form-cadastro" class="form-horizontal" action="#"
					th:action="@{/procurarPaciente}" th:object="${paciente}"
					method="post">
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="nome">Nome:</label>
						<div class="col-md-2 paddingRight5">
							<input id="nome" name="nome" type="text" placeholder=""
								class="form-control input-md" th:field="*{nome}" required="true" />
						</div>
						<div class="col-md-4 paddingLeft5">
							<p>
								<input type="submit" value="pesquisar" class="btn btn-success" />
								<input type="button" value="Editar"
									class="btn btn-warning marginLeft5" id="editarPaciente" />
							</p>
						</div>
					</div>

				</form>
			</div>

			<div title="Pacientes" class="marginAuto">

				<h1 class="text-align">Pacientes</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Cpf</th>
							<th>Email</th>
							<th>Telefone</th>
							<th>Celular</th>
							<th>Endereço</th>
							<th>CEP</th>
							<th>Data Nasc</th>
							<th>Data Ultima Consulta</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row: ${pacientes}">
							<td th:text="${row.id}">Id</td>
							<td th:text="${row.nome}">Nome</td>
							<td th:text="${row.cpf}">Cpf</td>
							<td th:text="${row.email}">Email</td>
							<td th:text="${row.telefone}">Telefone</td>
							<td th:text="${row.celular}">Celular</td>
							<td th:text="${row.endereco}">Endereço</td>
							<td th:text="${row.cep}">CEP</td>
							<td th:text="${row.data_de_nascimentoString}">Data Nasc</td>
							<td th:text="${row.data_da_ultima_consultaString}">Data Ultima Consulta</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="dialog-newUser" style="display: none; width: 200px"
			title="Editando Paciente">
			<form id="form-createUser" th:action="@{/editarPaciente}"
				method="post" th:object="${paciente}">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Id:</span><input
						id="user.create" type="text" class="form-control" placeholder="id"
						aria-describedby="basic-addon1" name="id" required="true" />
				</div>
				<div style="padding-top: 10px">
					<input type="submit" value="Editar Paciente"
						class="btn btn-lg btn-success" id="editarPaciente.submit" />
				</div>

			</form>
		</div>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/menu.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#editarPaciente').on('click', function() {
					$('#dialog-newUser').dialog({
						height : 180,
						width : 400
					});
				});
			});
		</script>
		<div th:include="template/footer :: footer">...</div>
	</div>
</body>
</html>