<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Title</title>
 <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
</head>
<body>


	<div class="container860 marginAuto">

		<div title="Pacientes" class="container430 marginAuto">
			<h1 style="">Pacientes</h1>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>email</th>
						<th>cpf</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row: ${pacientes}">
						<td th:text="${row.id}">Id</td>
						<td th:text="${row.nome}">FirstName</td>
						<td th:text="${row.email}">FirstName</td>
						<td th:text="${row.cpf}">Last Name</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</body>
</html>