<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
	<title>Sobre</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
	</head>
	<body class="backgroundColorCinza">
		<div th:include="template/header :: header">...</div>

		<div class = "textoDeAbertura">
			<p>Criamos está aplicação com o Objetivo de suprir as necessidades do mercado de clinicas.
			Criado Por Pedro Henrique, Rafael Ahrons e William Ahrons</p>
        </div>
		<div th:include="template/footer :: footer">...</div>

		<script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
		<script th:src="@{/webjars/jquery-ui/1.11.3/jquery-ui.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.js}"></script>
  <script type="text/javascript" src="/js/menu.js"></script>
	</body>
</html>