<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" type = "text/css" href="css/stylesheet.css" />
	</head>
	<body>
		<div th:include="template/header :: header">...</div>

		<div class = "textoDeAbertura">
			<p>Criamos está aplicação com o Objetivo de suprir as necessidades do mercado de clinicas.
			Criado Por Pedro Henrique, Rafael Ahrons e William Ahrons</p>
        </div>
		<div th:include="template/footer :: footer">...</div>
		</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</body>
</html>