<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Conta">
        <classes>
            <class name="com.poseidon.controller.ContaControllerIntegrationTest" />
        </classes>
    </test>
    <test name="Home">
        <classes>
            <class name="com.poseidon.controller.HomeControllerIntegrationTest" />
        </classes>
    </test>
</suite>