<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<nav class="navBarPoseidon navbar navbar-default">
			<div class="navBarPoseidon container-fluid">
				<div class="navbar-header">
					<a class="colorBranco navbar-brand" th:href="@{/home}">Poseidon</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="menu active "><a class="colorBranco" url="/home" th:href="@{/home}">Home</a></li>
						<li class="menu"><a class="colorBranco" url="/cadastroPaciente" th:href="@{/cadastroPaciente}">Cadastrar Paciente</a></li>
						<li class="menu"><a class="colorBranco" url="/pesquisarPaciente" th:href="@{/pesquisarPaciente}">Pesquisar Paciente</a></li>
						<li class="menu" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" ><a class="colorBranco" url="/deletePaciente" th:href="@{/deletePaciente}">Deletar Paciente</a></li>
						<li class="menu" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" ><a class="colorBranco" url="/cadastroMedico" th:href="@{/cadastroMedico}">Cadastrar Medico</a></li>
						<li class="menu" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" ><a class="colorBranco" url="/dashboard" th:href="@{/dashboard}">Dashboard</a></li>
						<li class="menu"><a class="colorBranco" url="/sobre" th:href="@{/sobre}">Sobre</a></li>
						<li class="menu"><p class="logout"><span class="glyphicon glyphicon-log-out"></span><a class="colorBranco marginLeft5" url="/logout" th:href="@{/logout}">Logout</a></p></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>