<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header">
		<nav class="navBarPoseidon navbar navbar-default">
			<div class="navBarPoseidon container-fluid">
				<div class="navbar-header">
					<a class="colorBranco navbar-brand" th:href="@{/homePage}">Poseidon</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="menu active "><a class="colorBranco" url="/home" th:href="@{/homePage}">Home</a></li>
						<li role="menu"><a href="#" class="colorBranco dropdown-toggle"
										   data-toggle="dropdown" role="button" aria-haspopup="true"
										   aria-expanded="false">Paciente<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/paciente(isCadastroPaciente=true,isDeletePaciente=false,isPesquisaPaciente=false)}" id="btn-criarPaciente">Cadastrar Paciente</a></li>
								<li><a th:href="@{/paciente(isCadastroPaciente=false,isDeletePaciente=true,isPesquisaPaciente=false)}" id="btn-deletarPaciente">Deletar Paciente</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/paciente(isCadastroPaciente=false,isDeletePaciente=false,isPesquisaPaciente=true)}" id="btn-pesquisarPaciente">Pesquisar Paciente</a></li>
							</ul>
						</li>
						<li role="menu"><a href="#" class="colorBranco dropdown-toggle"
												   data-toggle="dropdown" role="button" aria-haspopup="true"
												   aria-expanded="false">Consultas<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/consulta(isCadastroConsulta=true,isDeleteConsulta=false,isEditarConsulta=false,isExibirConsulta=false)}" id="btn-cadastrarConsulta">Cadastrar Consulta</a></li>
								<li><a th:href="@{/consulta(isCadastroConsulta=false,isDeleteConsulta=true,isEditarConsulta=false,isExibirConsulta=false)}" id="btn-deletarConsulta">Deletar Consulta</a></li>
								<li><a th:href="@{/consulta(isCadastroConsulta=false,isDeleteConsulta=false,isEditarConsulta=true,isExibirConsulta=false)}" id="btn-editarConsulta">Editar Consulta</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/consulta(isCadastroConsulta=false,isDeleteConsulta=false,isEditarConsulta=false,isExibirConsulta=true)}" id="btn-exibirConsulta">Exibir calendário de Consultas</a></li>							
							</ul>
						</li>
						<li role="menu" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="#" class="colorBranco dropdown-toggle"
												   data-toggle="dropdown" role="button" aria-haspopup="true"
												   aria-expanded="false">Médico<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/medico(isCadastroMedico=true,isPesquisaMedico=false,isDeleteMedico=false,isEditarMedico=false,isExibirMedico=false)}" id="btn-criarMedico">Cadastrar Médico</a></li>
								<li><a th:href="@{/medico(isCadastroMedico=false,isPesquisaMedico=true,isDeleteMedico=false,isEditarMedico=false,isExibirMedico=false)}" id="btn-pesquisarMedico">Pesquisar Médico</a></li>
								<li><a th:href="@{/medico(isCadastroMedico=false,isPesquisaMedico=false,isDeleteMedico=true,isEditarMedico=false,isExibirMedico=false)}" id="btn-deletarMedico">Deletar Médico</a></li>
								<li><a th:href="@{/medico(isCadastroMedico=false,isPesquisaMedico=false,isDeleteMedico=false,isEditarMedico=true,isExibirMedico=false)}" id="btn-editarMedico">Editar Médico</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/medico(isCadastroMedico=false,isPesquisaMedico=false,isDeleteMedico=false,isEditarMedico=false,isExibirMedico=true)}" id="btn-exibirTodosMedicos">Exibir todos Médicos</a></li>
							</ul>
						</li>
						<li role="menu" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a href="#" class="colorBranco dropdown-toggle"
												   data-toggle="dropdown" role="button" aria-haspopup="true"
												   aria-expanded="false">Contas<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/conta(isCadastroConta=true,isEditarConta=false,isDeleteConta=false,isExibirConta=false)}" id="btn-criarConta">Criar Conta</a></li>
								<li><a th:href="@{/conta(isCadastroConta=false,isEditarConta=true,isDeleteConta=false,isExibirConta=false)}" id="btn-editarConta">Editar Conta</a></li>
								<li><a th:href="@{/conta(isCadastroConta=false,isEditarConta=false,isDeleteConta=true,isExibirConta=false)}" id="btn-deletarConta">Deletar Conta</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/conta(isCadastroConta=false,isEditarConta=false,isDeleteConta=false,isExibirConta=true)}" id="btn-exibirTodasContas">Exibir todas Contas</a></li>
							</ul>
						</li>
						<li class="menu"><a class="colorBranco" url="/sobre" th:href="@{/sobre}">Sobre</a></li>
						<li class="menu"><p class="logout"><span class="glyphicon glyphicon-log-out"></span><a class="colorBranco marginLeft5" url="/logout" th:href="@{/logout}">Logout</a></p></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>